/* *{
    margin: 0 auto;
} */
.header-section{
    background-color: bisque;
    height: 870px;
}
nav{
    display: flex;
    justify-content: space-around;
}
.nav-heading{
    font-size: 35px;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin: 25px;
}
/* details-section */

.details-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
h1{
    font-size: 40px;
}
.details-span{
    margin-left: 70px;
}
.btn-1{
    height: 40px;
    width: 130px;
    background-color: chartreuse;
    border: none;
}
.details-section-img{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.banner-img{
    height: 450px;
    width: 1000px;
}

/* second-section */
.second-section-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
    gap: 10px;
}
.second-section-img{
    width: 200px;
    height: 200px;
}
.second-section{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.describe{
    font-size: 40px;
    font-weight: 1000;
}

/* third-section */

.third-section-header{
    border-left: 5px solid red;
}
.third-section-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.third-section-img{
   height: 500px;
   width: 400px; 
}
.third-section-btn{
    /* margin-right: 110px; */
}
/* section-four */
.main-icon{
display: flex;
justify-content: space-around;
margin-bottom: 60px;
}
.icon{
    padding: 40px;
    border: 2px solid red;
}
.icon:hover{
            color: rgb(213, 213, 223);
            border-color: blue;
            transform: scale(.50);
}

.contact-section{
    background-color: aquamarine;
    margin-left: 20px;
}
/* last-section */
.last-section{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.last-heading{
    margin-left:500px;
}
.final-section{
    background-color: blanchedalmond;
    text-align: center;
    height: 70px;
    margin-top: 50px;
}